<form [formGroup]="ingredientsForm" (ngSubmit)="confirmEditIngredients()" novalidate>
  <div class="form-group ingredient-select-group">
    <label for="ingredients">Ingredients:</label>
    <select id="ingredients" formControlName="selectedIngredient">
      <option value="" disabled>Select ingredient</option>
      @for (ingredient of ingredientsFromStorage; track ingredient.name) {
      <option [ngValue]="ingredient">{{ ingredient.name }} ({{ ingredient.name }})</option>
      }
    </select>
  </div>
  <button type="button" (click)="addIngredient()">Add Ingredient</button>

  <div formArrayName="ingredients">
    <div>
      <h4>Selected ingredients:</h4>
    </div>

    @for (ingredientGroup of ingredientsArray.controls; track $index) {
    <div [formGroupName]="$index" class="ingredient-item">
      <span>
        {{ ingredientGroup.get('name')?.value }}
        {{ ingredientGroup.get('unit')?.value }}
      </span>

      <input type="number" formControlName="quantity" min="0.01" step="1" placeholder="Quantity" />

      <button type="button" (click)="removeIngredient($index)">Remove</button>
    </div>

    }
    <button type="button" (click)="onCancel()">Cancel</button>
    <button type="button" (click)="onSaveIngredients()">Save Ingredients</button>
  </div>
</form>
