body {
  background-color: #fdcc04;
}

*{
  font-family: "Roboto Mono", sans-serif;
  font-size: 2rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  height:80px;
  background: #fdcc04;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 50px;
}

.logo {
  color: #000;
  font-weight: bold;
  font-style: italic;
  padding: 0 2rem;
}

nav a {
  text-decoration: none;
  color: #000;
  padding: 0 1.5rem;
  font-size: 32px;
}

button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border:none;
  color: #fdcc04;
  background:#000;
  cursor: pointer;
}

.nav-items {
  display: flex;
  gap: 1rem;
  padding: 0 2rem;
}
