<nav>
  <div class="logo">FOOD ORDERING APP</div>
  <ng-container *ngIf="!isLoginPage">
  @if (role === 'USER'){
    <div class="nav-items">
      <a href="#">Home</a>
      <a href="#">Logout</a>
      <a href="/restaurants" routerLinkActive="routerLinkActive">Restaurants</a>
      <a href="#">Orders</a>
    </div>
  } @else if (role === 'RESTAURANT_OWNER') {
    <div class="nav-items">
      <a href="#">Home</a>
      <a href="#">Logout</a>
      <a href="/restaurants" routerLinkActive="routerLinkActive">My Restaurants</a>
    </div>
  } @else if (role === 'ADMIN') {
    <div class="nav-items">
      <a href="#">Home</a>
      <a href="#">Logout</a>
      <a href="/restaurants" routerLinkActive="routerLinkActive">All Restaurants</a>
      <a href="#">All Orders</a>
      <a href="#">All Users</a>
    </div>
  }
  </ng-container>
</nav>
