<form [formGroup]="addMealForm" (ngSubmit)="confirmAddMeal()" novalidate>
  <div class="form-group">
    <label for="name">Meal Name:</label>
    <input id="name" type="text" formControlName="name" />
    <div class="error" *ngIf="addMealForm.get('name')?.invalid && addMealForm.get('name')?.touched">
      Name is required.
    </div>
  </div>

  <div class="form-group">
    <label for="category">Category:</label>
    <input id="category" type="text" formControlName="category" />
    <div class="error" *ngIf="addMealForm.get('category')?.invalid && addMealForm.get('category')?.touched">
      Category is required.
    </div>
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    <textarea id="description" formControlName="description"></textarea>
  </div>

  <div class="form-group">
    <label for="price">Price:</label>
    <input id="price" type="number" formControlName="price" step="0.01" />
    <div
      class="error"
      *ngIf="addMealForm.get('price')?.invalid && addMealForm.get('price')?.touched"
    >
      Price must be greater than 0.
    </div>
  </div>
  <div class="form-group ingredient-select-group">
    <label for="ingredients">Ingredients:</label>
    <select id="ingredients" formControlName="selectedIngredient">
      <option value="" disabled>Select ingredient</option>
      @for (ingredient of ingredients; track ingredient.name) {
      <option [ngValue]="ingredient">{{ ingredient.name }} ({{ ingredient.name }})</option>
      }
    </select>
  </div>
  <button type="button" (click)="addIngredient()">Add Ingredient</button>

  <div formArrayName="ingredients">
    <div>
      <h4>Selected ingredients:</h4>
    </div>

    @for (ingredientGroup of ingredientsArray.controls; track $index) {
    <div [formGroupName]="$index" class="ingredient-item">
      <span>
        {{ ingredientGroup.get('name')?.value }}
        {{ ingredientGroup.get('unit')?.value }}
      </span>

      <input type="number" formControlName="quantity" min="0.01" step="1" placeholder="Quantity" />

      <button type="button" (click)="removeIngredient($index)">Remove</button>
    </div>
    }
  </div>

  <button type="submit" [disabled]="addMealForm.invalid">Add Meal</button>
</form>
