p {
  color: black;
  font-size: 16px;
}

a {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 32px;
  margin: 10px;
}

.hero-container {
  display: grid;
  margin-left: 50px;
}

.column-left {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  padding: 0rem 2rem;
}

.column-left h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.column-left p {
  margin-bottom: 2rem;
  font-size:1.5rem;
  line-height: 1.5;
}

.hero-image{
  width: 50%;
  height: 50%;
}

table {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

thead th {
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  z-index: 1;
}

th, td {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid grey;
}

td ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
}

tr:hover {
  background-color: orange;
}

.actions {
  width: 30%;
}



