.form-group {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, textarea {
  text-transform: uppercase;
  padding: 8px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 0.8rem;
}

.ingredients-list {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.ingredient-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.ingredient-item span {
  flex: 1;
}

.ingredient-select-group {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

#ingredients {
  width: 200px;
  height: 40px;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

h4 {
  text-transform: uppercase;
  font-size: 32px;

}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fdcc04;
  padding: 2rem;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
