*{
  font-family: "Roboto Mono", sans-serif;
  font-size: 2rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero-container {
  display: flex;
  margin-left: 50px;
}

.column-left {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  padding: 2rem 2rem;
}

.dashboard-wrapper {
  display: flex;
  margin-top: 5rem;
  gap: 2rem;

}

p {
  color: black;
  font-size: 16px;
}

button {
  text-transform: uppercase;
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 32px;
  margin: 10px;
  cursor: pointer;

}

.sidebar button:hover {
  background-color: grey;
}

.sidebar {
  width: 200px;
  border-right: 3px solid #000000;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.content {
  flex: 2;
  padding: 1rem;
  border-radius: 8px;
}

.add-meal-and-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
}

.form-section {
  flex: 1;
  width: auto;
}

.list-section {
  flex: 2;
}

