<article>
  <div class="hero-container">
  <div class="column-left">
    <h1>This is dashboard of your restaurant!</h1>
    <p>You can edit your restaurant here!</p>
    <div class="dashboard-wrapper">
      <aside class="sidebar">
        <button (click)="selectView('add-meal')">Add Meal</button>
        <button (click)="selectView('show-orders')">Show Orders</button>
        <button (click)="selectView('add-ingredient')">Add Ingredient</button>
        <button (click)="selectView('show-storage')">Show Storage</button>
      </aside>
      <main class="content">
        <div class="hero-container">
          @if(selectedView === 'add-meal'){
            <app-add-meal></app-add-meal>
          } @else if (selectedView === 'show-orders'){
            <app-owner-orders></app-owner-orders>
          } @else if (selectedView === 'add-ingredient'){
            <app-add-ingredient></app-add-ingredient>
          } @else if (selectedView === 'show-storage') {
            <app-show-storage></app-show-storage>
          }
        </div>
      </main>
    </div>
  </div>
  </div>
</article>
