<article>
  <div class="hero-container">
    <div class="column-left">
      <p class="subtitle">You can order a meal from below list</p>

      <!-- Wrapper nadający nowoczesne zaokrąglenia i cień -->
      <div class="dashboard-wrapper">
        <table>
          <thead>
          <tr>
            <th>Meal Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Price</th>
            <th class="actions text-center">Actions</th>
          </tr>
          </thead>
          <tbody>
          @for (meal of meals; track meal.name) {
          <tr>
            <td class="meal-name">{{ meal.name }}</td>
            <td>
              <span class="category-badge">{{ meal.category }}</span>
            </td>
            <td class="description-cell">{{ meal.description }}</td>
            <td class="price-cell">{{ meal.price }}</td>
            <td class="text-center">
              <button (click)="addToCart(meal)" class="btn-black">
                Add to cart
              </button>
            </td>
          </tr>
          }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</article>
