body {
  background-color: #fdcc04;
}

*{
  font-family: "Roboto Mono", sans-serif;
  box-sizing: border-box;
  padding: 0;
}
p {
  color: black;
  font-size: 16px;
}
h1 {
  color: black;
  font-size: 20px;
  justify-content:center;
}
form-group{
  justify-content: center;
  display: flex;
}
nav {
  height:80px;
  background: #fdcc04;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 20px;
}
.logo {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  padding: 0 2rem;
}
nav a {
  text-decoration: none;
  color: #000;
  padding: 0 1.5rem;
}

.hero{
  background: #fdcc04;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95vh;
  padding: 3rem calc((100vw - 1300px)/2);

}
.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  padding: 0 2rem;
}
.column-left h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}
.column-left p {
  margin-bottom: 2rem;
  font-size:1.5rem;
  line-height: 1.5;
}
button {
  text-transform: uppercase;
  padding: 1rem 3rem;
  font-size: 1rem;
  border:none;
  color: #fdcc04;
  background:#000;
  cursor: pointer;
}
button {
  text-transform: uppercase;
  background: #fff;
  color: #000;
}

.column-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image{
  width: 75%;
  height: 50%;
}
