/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  background-color: #fdcc04;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", sans-serif;

}

button {
  font-weight: bold;
  text-transform: uppercase;
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 32px;
  margin: 10px;
  cursor: pointer;

}

