<article>
  <div class="hero-container">
    <div class="column-left">
      <h1>This is list of your orders!</h1>
      <p class="subtitle">You can show or cancel it, if there is enough time!</p>

      <div class="dashboard-wrapper">
        <table>
          <thead>
          <tr>
            <th>Order Number</th>
            <th>Total Price</th>
            <th>Status</th>
            <th>Customer email</th>
            <th>Order date</th>
            <th>Order Items</th>
            <th class="text-center">Actions</th>
          </tr>
          </thead>
          <tbody>
          @for (order of orders(); track order.orderNumber) {
          <tr>
            <td class="font-semibold">#{{ order.orderNumber }}</td>
            <td class="price-cell">{{ order.totalPrice }}</td>
            <td>
              <span class="status-badge">{{ order.status }}</span>
            </td>
            <td>{{ order.customerEmail }}</td>
            <td class="date-cell">{{ order.orderDate | date:'dd MMM yyyy, HH:mm' }}</td>
            <td>
              <ul class="order-items-list">
                @for (item of order.orderItems; track item.mealId) {
                <li>
                  <span class="meal-name">{{ item.mealName }}</span>
                  <span class="meal-details">(qty: {{ item.quantity }}, unit: {{item.unitPrice}})</span>
                </li>
                }
              </ul>
            </td>
            <td class="text-center">
              <button
                (click)="confirmFinishOrder(order.orderNumber)"
                [disabled]="!order.isCancellable"
                class="btn-black">
                Cancel
              </button>
            </td>
          </tr>
          }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</article>
