
.form-group {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

input, textarea {
  padding: 8px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 32px;
  cursor: pointer;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 0.8rem;
}
