
.form-group {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

input, textarea {
  padding: 8px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}


button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 0.8rem;
}
